/workspace/AI-chatbot-for-eCommerce-Store/intent_data.json
intent_data.json

/workspace/AI-chatbot-for-eCommerce-Store/tagged_intent_data.json
tagged_intent_data.json

index (3).ipynb
/workspace/AI-chatbot-for-eCommerce-Store/index (3).ipynb